<!DOCTYPE html>
<html>
<head>
    <title>Lista de datos</title>
</head>
<body>

    <h1>Lista de datos</h1>
    <table>
        <thead>
            <tr>
                <th>Tamaño</th>
                <th>Habitaciones</th>
                <th>Baños</th>
                <th>Estacionamiento</th>
                <th>Piscina</th>
                <th>Distrito</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
            <tr>
                <td>{{ dato.tamanio }}</td>
                <td>{{ dato.habitaciones }}</td>
                <td>{{ dato.banos }}</td>
                <td>{{ dato.estacionamiento }}</td>
                <td>{{ dato.piscina }}</td>
                <td>{{ dato.distrito }}</td>
                <td>{{ dato.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
