@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}

.formulario {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.register-container {
  max-width: 1200px;
}

.register {
  padding: 20px;
}

.columna {
  width: 100%;
  display: flex;
}

.grupo {
  width: 100%;
  margin-bottom: 10px;
}

.grupo input,
.grupo select.input-select {
  width: 95%;
  color: white;
  margin-top: 1px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #4f4f4f;
}

.image img {

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.cajitas {
  margin-top: 15px;
  margin-bottom: 15px;
}

.marcar {
  margin-bottom: 10px;
}

.marcar label {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
}

.create-account {
  text-align: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.derechos,
.politica {
  font-size: 14px;
  color: #838383;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}



/* Estilos generales */
body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* Navegación */
nav ul {
  background-color: #555;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

/* Banner */
.banner {
  background-color: #444;
  padding: 40px;
  text-align: center;
}

.banner h2 {
  margin: 0;
}

.banner .cta-button {
  background-color: #666;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.banner .cta-button:hover {
  background-color: #888;
}


/* Pie de página */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

.register-button,
.login-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-image: linear-gradient(to bottom right, #1ab6b6, #4cac6e);
  border: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
}

.formulario {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}