{% extends 'home.html' %} 
{% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static '/css/style_cotizacion.css'%}" />
    <div class="container1">
      <div class="form-image">
        <figure class="hero-banner">
          <img
            src="{% static '/images/coti.jpg'%}"
            alt="Modern house model"
            class="w-100"
          />
        </figure>
      </div>

      <div class="form">
        <div class="form-header">
          <div class="title">
            <a href="{% url 'index_datos' %}" class="databig">
              <ion-icon class="icon-big" name="server"></ion-icon
            ></a>
            <h1>Buscar Por Gusto</h1>
          </div>
        </div>

        <form method="post" action="{% url 'predict' %}">
          {% csrf_token %}
          <div class="input-group">
            <div class="input-box">
              <label for="tamanio">TAMAÑO (m2):</label>
              <input
                type="number"
                name="tamanio"
                placeholder="metros cuadrados"
                required
              /><br />
            </div>
            <div class="input-box">
              <label for="habitaciones">HABITACIONES</label>
              <input
                type="number"
                name="habitaciones"
                placeholder="Habitaciones"
                required
              /><br />
            </div>
            <div class="input-box">
              <label for="banos">BAÑOS</label>
              <input
                type="number"
                name="banos"
                placeholder="Baños"
                required
              /><br />
            </div>
            <div class="input-box">
              <label for="estacionamiento">ESTACIONAMIENTO</label>
              <input
                type="number"
                name="estacionamiento"
                placeholder="Estacionamientos"
                required
              /><br />
            </div>
            <div class="input-box">
              <label for="piscina">PISCINA</label>
              <select name="piscina" placeholder="Piscina" required>
                <option value="0">No</option>
                <option value="1">Sí</option></select
              ><br />
            </div>
            <div class="input-box">
              <label for="distrito">DISTRITO</label>
              <select class="select" name="distrito" required>
                <option value="Ate Vitarte">Ate Vitarte</option>
                <option value="La Molina">La Molina</option>
                <option value="Los Olivos">Los Olivos</option>
                <option value="San Isidro">San Isidro</option>
                <option value="San Miguel">San Miguel</option>
              </select>
            </div>
          </div>
          <div class="input-box">
            <input
              class="continue-button"
              type="submit"
              value="Realizar predicción"
            />
          </div>
        </form>
      </div>
    </div>
    {% endblock %}
