{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <!-- 
    - css link
  -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
    <title>Agencia Inmobiliaria</title>
  </head>
  <body>
  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="overlay" data-overlay></div>
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar" data-navbar>
                <div class="navbar-top">
                    <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                <div class="navbar-bottom">
                    <ul class="navbar-list">
                        <li>
                            <a href="{% url 'home' %}" class="navbar-link" data-nav-link>Inicio</a>
                        </li>
                        <li>
                            <a href="{% url 'propiedades' %}" class="navbar-link" data-nav-link>Propiedades</a>
                        </li>
                        <li>
                            <a href="{% url 'predict' %}" class="navbar-link" data-nav-link>Cotizaciones</a>
                        </li>
                        <li>
                            <a href="{% url 'contacto' %}" class="navbar-link" data-nav-link>Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Resto del contenido del encabezado -->

                <div class="header-bottom-actions">
             
                    <button class="header-bottom-actions-btn" aria-label="Profile">
                        <ion-icon name="person-outline"></ion-icon>
                        <a href="{% url 'profile' %} " class="btn text-white m-2"><i class="fas fa-user"></i>Profile {{ user.username }}</a>
                        <span><h1>Bienvenido, {{ username }}!</h1>Profile</span>
                    </button>
              
                        <form method="post" action="{% url 'login_register' %}">
                          {% csrf_token %}
                          <button class="header-bottom-actions-btn" aria-label="Cart">
                              <ion-icon name="log-out-outline"></ion-icon>
                              <span>Logout</span>
                          </button>
                      </form>
                  </form>
                    <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
                        <ion-icon name="menu-outline"></ion-icon>
                        <span>Menu</span>
                    </button>
  
            
        </div>
    </div>
</header>







<!--TTT-->

    <main>
      <article>
        {% block content %}
        <!-- 
          - #HERO INMOBIAI
        -->
  
        <section class="hero" id="home">
          <div class="container">
  
            <div class="hero-content">
  
              <p class="hero-subtitle">
                <ion-icon name="home"></ion-icon>
  
                <span>InmobiAI</span>
              </p>
  
              <h2 class="h1 hero-title">Encuentra la casa de Tus sueños</h2>
  
              <p class="hero-text">
                Ayudar a nuestros clientes a encontrar y adquirir la vivienda ideal para satisfacer sus necesidades .
              </p>
  
              <button class="btn">Realizar Consulta</button>
  
            </div>
  
            <figure class="hero-banner">
              <img src="{% static 'images/hero-banner.png' %}" alt="Modern house model" class="w-100">
            </figure>
  
          </div>
        </section>
  

        <!-- 
          - #ABOUT
        -->
  
        <section class="about" id="about">
          <div class="container">
  
            <figure class="about-banner">
              <img src="{% static 'images/about-banner-1.png' %}" alt="House interior">
  
              <img src="{% static 'images/about-banner-2.jpg' %}" alt="House interior" class="abs-img">
            </figure>
  
            <div class="about-content">
  
              <p class="section-subtitle">Nosotros</p>
  
              <h2 class="h2 section-title">El Mercado de Venta de Casas Líder..</h2>
  
              <p class="about-text">
                Inmobiliarias y dueños directos de todo el país ofrecen las mejores opciones de inmuebles para ti.
              </p>
  
              <ul class="about-list">
  
                <li class="about-item">
                  <div class="about-item-icon">
                    <ion-icon name="home-outline"></ion-icon>
                  </div>
  
                  <p class="about-item-text">Diferentes ubicaciones</p>
                </li>
  
                <li class="about-item">
                  <div class="about-item-icon">
                    <ion-icon name="leaf-outline"></ion-icon>
                  </div>
  
                  <p class="about-item-text">Mejores Lugares para Vivir</p>
                </li>
  
                <li class="about-item">
                  <div class="about-item-icon">
                    <ion-icon name="wine-outline"></ion-icon>
                  </div>
  
                  <p class="about-item-text">Cerca a lugares Importantes</p>
                </li>
  
                <li class="about-item">
                  <div class="about-item-icon">
                    <ion-icon name="shield-checkmark-outline"></ion-icon>
                  </div>
  
                  <p class="about-item-text">Completamente Seguro</p>
                </li>
  
              </ul>
  
              <p class="callout">
                "Puedes empezar a realizar tus consultadas hoy mismo "
              </p>
  
              <a href="#service" class="btn">Servicios

              </a>
  
            </div>
  
          </div>
        </section>
  
  

  
        <!-- 
          - #BLOG NOSOTROS
        -->
  
        <section class="blog" id="blog">
          <div class="container">
  
            <p class="section-subtitle">Recientes</p>
  
            <h2 class="h2 section-title">Nuevas Casas en Venta</h2>
  
            <ul class="blog-list has-scrollbar">
  
              <li>
                <div class="blog-card">
  
                  <figure class="card-banner">
                    <img src="{% static 'images/blog-1.jpg' %}" alt="The Most Inspiring Interior Design Of 2021" class="w-100">
                  </figure>
  
                  <div class="blog-content">
  
                    <div class="blog-content-top">
  
                      <ul class="card-meta-list">
  
                        <li>
                          <a href="#" class="card-meta-link">
                            <ion-icon name="person"></ion-icon>
  
                            <span>Los Olivos</span>
                          </a>
                        </li>
  
                        <li>
                          <a href="#" class="card-meta-link">
                            <ion-icon name="pricetags"></ion-icon>
  
                            <span>270m²</span>
                          </a>
                        </li>
  
                      </ul>
  
                      <h3 class="h3 blog-title">
                        <a href="#">Se Vende Casa de 3 Pisos en Pro Los Olivos</a>
                      </h3>
  
                    </div>
  
                    <div class="blog-content-bottom">
                      <div class="publish-date">
                        <ion-icon name="calendar"></ion-icon>
  
                        <time datetime="2022-27-04">Apr 27, 2023</time>
                      </div>
  
                      <a href="#" class="read-more-btn">Read More</a>
                    </div>
  
                  </div>
  
                </div>
              </li>
  
              <li>
                <div class="blog-card">
  
                  <figure class="card-banner">
                    <img src="{% static 'images/blog-2.jpg' %}" alt="Recent Commercial Real Estate Transactions" class="w-100">
                  </figure>
  
                  <div class="blog-content">
  
                    <div class="blog-content-top">
  
                      <ul class="card-meta-list">
  
                        <li>
                          <a href="#" class="card-meta-link">
                            <ion-icon name="person"></ion-icon>
  
                            <span>San Miguel</span>
                          </a>
                        </li>
  
                        <li>
                          <a href="#" class="card-meta-link">
                            <ion-icon name="pricetags"></ion-icon>
  
                            <span>280m²</span>
                          </a>
                        </li>
  
                      </ul>
  
                      <h3 class="h3 blog-title">
                        <a href="#">Venta Casa Frente a Parque San Miguel</a>
                      </h3>
  
                    </div>
  
                    <div class="blog-content-bottom">
                      <div class="publish-date">
                        <ion-icon name="calendar"></ion-icon>
  
                        <time datetime="2022-27-04">Mar 08, 2023</time>
                      </div>
  
                      <a href="#" class="read-more-btn">Read More</a>
                    </div>
  
                  </div>
  
                </div>
              </li>
  
              <li>
                <div class="blog-card">
  
                  <figure class="card-banner">
                    <img src="{% static 'images/blog-3.jpg' %}" alt="Renovating a Living Room? Experts Share Their Secrets"
                      class="w-100">
                  </figure>
  
                  <div class="blog-content">
  
                    <div class="blog-content-top">
  
                      <ul class="card-meta-list">
  
                        <li>
                          <a href="#" class="card-meta-link">
                            <ion-icon name="person"></ion-icon>
  
                            <span>San Isidro</span>
                          </a>
                        </li>
  
                        <li>
                          <a href="#" class="card-meta-link">
                            <ion-icon name="pricetags"></ion-icon>
  
                            <span>345m²</span>
                          </a>
                        </li>
  
                      </ul>
  
                      <h3 class="h3 blog-title">
                        <a href="#">Buena Casa con Excelente Ubicación</a>
                      </h3>
  
                    </div>
  
                    <div class="blog-content-bottom">
                      <div class="publish-date">
                        <ion-icon name="calendar"></ion-icon>
  
                        <time datetime="2022-27-04">Jun 24, 2022</time>
                      </div>
  
                      <a href="#" class="read-more-btn">Read More</a>
                    </div>
  
                  </div>
  
                </div>
              </li>
  
            </ul>
  
          </div>
        </section>
  
  
  
  
  
        <!-- 
          - #CTA RECIENTES
        -->
  
        <section class="cta">
          <div class="container">
  
            <div class="cta-card">
              <div class="card-content">
                <h2 class="h2 card-title">Encuentra la casa de Tus Sueños?</h2>
  
                <p class="card-text">Nosotros de Ayudamos a buscar la casa a tu comonidad</p>
              </div>
  
              <button class="btn cta-btn">
                <span>Explora Aqui</span>
  
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </button>
            </div>
  
          </div>
        </section>
        {% endblock %}
      </article>
    </main>
  


  <!-- 
    - custom js link
  -->
  <script src="{% static 'js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
