{% extends 'home.html' %} 
{% load static %}
<main>
  {% block content %}
  <link rel="stylesheet" href="{% static '/css/style2.css' %}">
  <article>


          <!-- 
            - #PROPERTY
          -->
  
          <section class="property" id="property">
    
            <div class="container">
  
              <ul class="property-list has-scrollbar">
                  <!--Panel 1-->
                <li>
                  <div class="property-card">
    
                    <figure class="card-banner">
    
                      <a href="#">
                        <img src="{% static 'images/property-1.jpg'%}" alt="New Apartment Nice View" class="w-100">
                      </a>
    
                    
    
                      <div class="banner-actions">
    
                        <button class="banner-actions-btn">
                          <ion-icon name="location"></ion-icon>
    
                          <address> San Isidro, Lima</address>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="camera"></ion-icon>
    
                          <span>4</span>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="film"></ion-icon>
    
                          <span>2</span>
                        </button>
    
                      </div>
    
                    </figure>
    
                    <div class="card-content">
    
                      <div class="card-price">
                        <strong>USD 1,400,000</strong>
                      </div>
    
                      <h3 class="h3 card-title">
                        <a href="#">Paul de beaudiez 291</a>
                      </h3>
    
                      <p class="card-text">
                        Casa en esquina en excelente zona en san isidro, zona de parques.
                      </p>
    
                      <ul class="card-list">
    
                        <li class="card-item">
                          <strong>3</strong>
    
                          <ion-icon name="bed-outline"></ion-icon>
    
                          <span>Dormitorio</span>
                        </li>
    
                        <li class="card-item">
                          <strong>2</strong>
                          <ion-icon name="man-outline"></ion-icon>
                          <span>Baños</span>
                        </li>
    
                        <li class="card-item">
                          <strong>2</strong>
                          <ion-icon name="car-sport-outline"></ion-icon>
                          <span>Estac.</span>
                        </li>
    
                        <li class="card-item">
                          <strong>317</strong>
    
                          <ion-icon name="square-outline"></ion-icon>
    
                          <span>m²</span>
                        </li>
    
                      </ul>
    
                    </div>
    
                    <div class="card-footer">
    
                      <div class="card-footer-actions" >
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="logo-whatsapp"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="heart-outline"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </button>
    
                      </div>
    
                    </div>
    
                  </div>
                </li>
                  <!--Panel 2-->
                <li>
                  <div class="property-card">
    
                    <figure class="card-banner">
    
                      <a href="#">
                        <img src="{% static 'images/property-2.jpg'%}" alt="Modern Apartments" class="w-100">
                      </a>
    
                      <div class="banner-actions">
    
                        <button class="banner-actions-btn">
                          <ion-icon name="location"></ion-icon>
    
                          <address>San Isidro, Lima</address>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="camera"></ion-icon>
    
                          <span>4</span>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="film"></ion-icon>
    
                          <span>2</span>
                        </button>
    
                      </div>
    
                    </figure>
    
                    <div class="card-content">
    
                      <div class="card-price">
                        <strong>USD 3,950,000</strong>
                      </div>
    
                      <h3 class="h3 card-title">
                        <a href="#">Carlos Graña</a>
                      </h3>
    
                      <p class="card-text">
                        Lujosa Casa en Venta Estreno Lista Para Mudarse Parques Privados San Isidro
                      </p>
    
                      <ul class="card-list">
    
                        <li class="card-item">
                          <strong>4</strong>
    
                          <ion-icon name="bed-outline"></ion-icon>
    
                          <span>Dormitorio</span>
                        </li>
    
                        <li class="card-item">
                          <strong>4</strong>
                          <ion-icon name="man-outline"></ion-icon>
                          <span>Baños</span>
                        </li>
    
                        <li class="card-item">
                          <strong>5</strong>
                          <ion-icon name="car-sport-outline"></ion-icon>
                          <span>Estac.</span>
                        </li>
    
                        <li class="card-item">
                          <strong>723</strong>
    
                          <ion-icon name="square-outline"></ion-icon>
    
                          <span>m²</span>
                        </li>
    
                      </ul>
    
                    </div>
    
                    <div class="card-footer">
                      <div class="card-footer-actions">
                        <button class="card-footer-actions-btn">
                          <ion-icon name="logo-whatsapp"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="heart-outline"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </button>
    
                      </div>
    
                    </div>
    
                  </div>
                </li>
                  <!--Panel 3-->
                <li>
                  <div class="property-card">
    
                    <figure class="card-banner">
    
                      <a href="#">
                        <img src="{% static 'images/property-3.jpg'%}" alt="Comfortable Apartment" class="w-100">
                      </a>
    
                      <div class="banner-actions">
    
                        <button class="banner-actions-btn">
                          <ion-icon name="location"></ion-icon>
    
                          <address>Mayorazgo, Ate Vitarte</address>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="camera"></ion-icon>
    
                          <span>2</span>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="film"></ion-icon>
    
                          <span>2</span>
                        </button>
    
                      </div>
    
                    </figure>
    
                    <div class="card-content">
    
                      <div class="card-price">
                        <strong>USD 355,000</strong>
                      </div>
    
                      <h3 class="h3 card-title">
                        <a href="#">CALLE BILBAO 270</a>
                      </h3>
    
                      <p class="card-text">
                        Hermosa casa ubicada en Mayorazgo, límite con La Molina. Área apacible y tranquila
                      </p>
    
                      <ul class="card-list">
    
                        <li class="card-item">
                          <strong>3</strong>
    
                          <ion-icon name="bed-outline"></ion-icon>
    
                          <span>Dormitorio</span>
                        </li>
    
                        <li class="card-item">
                          <strong>2</strong>
                          <ion-icon name="man-outline"></ion-icon>
                          <span>Baños</span>
                        </li>
    
                        <li class="card-item">
                          <strong>2</strong>
                          <ion-icon name="car-sport-outline"></ion-icon>
                          <span>Estac.</span>
                        </li>
    
                        <li class="card-item">
                          <strong>279</strong>
    
                          <ion-icon name="square-outline"></ion-icon>
    
                          <span>m²</span>
                        </li>
    
                      </ul>
    
                    </div>
    
                    <div class="card-footer">
                      <div class="card-footer-actions">
                        <button class="card-footer-actions-btn">
                          <ion-icon name="logo-whatsapp"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="heart-outline"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </button>
    
                      </div>
    
                    </div>
    
                  </div>
                </li>
              </ul>
    
         
            </div>
            <div class="container">
              <ul class="property-list has-scrollbar">
                  <!--Panel 4-->
                <li>
                  <div class="property-card">
    
                    <figure class="card-banner">
    
                      <a href="#">
                        <img src="{% static 'images/property-4.jpg'%}" alt="New Apartment Nice View" class="w-100">
                      </a>
                 
                      <div class="banner-actions">
    
                        <button class="banner-actions-btn">
                          <ion-icon name="location"></ion-icon>
    
                          <address>Lagunas De La Molina, La Molina</address>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="camera"></ion-icon>
    
                          <span>3</span>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="film"></ion-icon>
    
                          <span>2</span>
                        </button>
    
                      </div>
    
                    </figure>
    
                    <div class="card-content">
    
                      <div class="card-price">
                        <strong>USD 1,100,000</strong>
                      </div>
    
                      <h3 class="h3 card-title">
                        <a href="#">Av. Laguna Grande 900</a>
                      </h3>
    
                      <p class="card-text">
                        calle cerrada con vigilancia (Estacionamientos). Finos acabados de madera, techos a dos aguas...</p>
    
                      <ul class="card-list">
    
                        <li class="card-item">
                          <strong>4</strong>
    
                          <ion-icon name="bed-outline"></ion-icon>
    
                          <span>Dormitorio</span>
                        </li>
    
                        <li class="card-item">
                          <strong>4</strong>
                          <ion-icon name="man-outline"></ion-icon>
                          <span>Baños</span>
                        </li>
    
                        <li class="card-item">
                          <strong>3</strong>
                          <ion-icon name="car-sport-outline"></ion-icon>
                          <span>Estac.</span>
                        </li>
    
                        <li class="card-item">
                          <strong>479</strong>
    
                          <ion-icon name="square-outline"></ion-icon>
    
                          <span>m²</span>
                        </li>
    
                      </ul>
    
                    </div>
    
                    <div class="card-footer">
    
            
    
                      <div class="card-footer-actions" >
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="logo-whatsapp"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="heart-outline"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </button>
    
                      </div>
    
                    </div>
    
                  </div>
                </li>
                  <!--Panel 5-->
                <li>
                  <div class="property-card">
    
                    <figure class="card-banner">
    
                      <a href="#">
                        <img src="{% static 'images/property-5.jpg'%}" alt="Modern Apartments" class="w-100">
                      </a>
    
                      <div class="banner-actions">
    
                        <button class="banner-actions-btn">
                          <ion-icon name="location"></ion-icon>
    
                          <address>El Trebol 2 Etapa, Los Olivos</address>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="camera"></ion-icon>
    
                          <span>4</span>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="film"></ion-icon>
    
                          <span>2</span>
                        </button>
    
                      </div>
    
                    </figure>
    
                    <div class="card-content">
    
                      <div class="card-price">
                        <strong>USD 280,000</strong>
                      </div>
    
                      <h3 class="h3 card-title">
                        <a href="#">Jirón Antonio Cabo</a>
                      </h3>
    
                      <p class="card-text">
                        Vendo hermosa casa de tres pisos en la 2da etapa de la urbanización el trebol...
                      </p>
    
                      <ul class="card-list">
    
                        <li class="card-item">
                          <strong>7</strong>
    
                          <ion-icon name="bed-outline"></ion-icon>
    
                          <span>Dormitorio</span>
                        </li>
    
                        <li class="card-item">
                          <strong>2</strong>
                          <ion-icon name="man-outline"></ion-icon>
                          <span>Baños</span>
                        </li>
    
                        <li class="card-item">
                          <strong>1</strong>
                          <ion-icon name="car-sport-outline"></ion-icon>
                          <span>Estac.</span>
                        </li>
    
                        <li class="card-item">
                          <strong>270</strong>
    
                          <ion-icon name="square-outline"></ion-icon>
    
                          <span>m²</span>
                        </li>
    
                      </ul>
                    </div>
    
                    <div class="card-footer">
                      <div class="card-footer-actions">
                        <button class="card-footer-actions-btn">
                          <ion-icon name="logo-whatsapp"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="heart-outline"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </button>
    
                      </div>
    
                    </div>
    
                  </div>
                </li>
                  <!--Panel 6-->
                <li>
                  <div class="property-card">
    
                    <figure class="card-banner">
    
                      <a href="#">
                        <img src="{% static 'images/property-6.jpg'%}" alt="Comfortable Apartment" class="w-100">
                      </a>
    
                      <div class="banner-actions">
    
                        <button class="banner-actions-btn">
                          <ion-icon name="location"></ion-icon>
    
                          <address>Pando Etapa Vi, San Miguel</address>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="camera"></ion-icon>
    
                          <span>2</span>
                        </button>
    
                        <button class="banner-actions-btn">
                          <ion-icon name="film"></ion-icon>
    
                          <span>1</span>
                        </button>
    
                      </div>
    
                    </figure>
    
                    <div class="card-content">
    
                      <div class="card-price">
                        <strong>USD 530,000</strong>
                      </div>
    
                      <h3 class="h3 card-title">
                        <a href="#">CALLE MORONA 200</a>
                      </h3>
    
                      <p class="card-text">
                        Casa como terreno o por remodelar completamente con ideal ubiacion en el distrito de san miguel...                 
                      </p>
    
                      <ul class="card-list">
    
                        <li class="card-item">
                          <strong>8</strong>
    
                          <ion-icon name="bed-outline"></ion-icon>
    
                          <span>Dormitorio</span>
                        </li>
    
                        <li class="card-item">
                          <strong>4</strong>
                          <ion-icon name="man-outline"></ion-icon>
                          <span>Baños</span>
                        </li>
    
                        <li class="card-item">
                          <strong>2</strong>
                          <ion-icon name="car-sport-outline"></ion-icon>
                          <span>Estac.</span>
                        </li>
    
                        <li class="card-item">
                          <strong>488</strong>
    
                          <ion-icon name="square-outline"></ion-icon>
    
                          <span>m²</span>
                        </li>
    
                      </ul>
    
                    </div>
    
                    <div class="card-footer">
                      <div class="card-footer-actions">
                        <button class="card-footer-actions-btn">
                          <ion-icon name="logo-whatsapp"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="heart-outline"></ion-icon>
                        </button>
    
                        <button class="card-footer-actions-btn">
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </button>
    
                      </div>
    
                    </div>
    
                  </div>
                </li>
              </ul>
    
         
            </div>
    
          </section>

  
  </article>
  {% endblock %}
</main>
