{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/styles_register.css' %}">

    <title>InmobiAI</title>
  </head>

  <body>
    <div class="container">
      <div class="register-container">
        <div class="register">
          <div class="imagen" style="text-align: center">
            <img
              style="
                width: 70px;
                height: auto;
                filter: invert(100%);
                margin-bottom: 30px;
              "
              src="{% static 'images/inmobiliaria.png' %}"
              alt="Icono"
            />
          </div>

          <div class="ingreso" style="text-align: center">
            <p style="font-size: 25px">Conéctate con el lugar de tus sueños</p>
          </div>

          <form action="" method="post">
            {% csrf_token %}
          <div class="formulario">
            <div class="columna">
              <div class="grupo">
                <label for="username" class="label">Nombres:</label>
                <input class="cajas" type="text" placeholder="Username" name="username" id="username" required />

              </div>
            </div>
            <div class="columna">
              <div class="grupo">
                <label for="email" class="label">Correo electrónico:</label>
                <label for="email">Email</label>
                <input class="caja" type="email" placeholder="Email or Phone" name="email" id="email" required>
              </div>
            </div>

            <div class="columna">
              <div class="grupo">
                <label for="password" class="label">Contraseña:</label>

                <label for="password1">Password</label>
                <input class="cajas" type="password" placeholder="Password" id="password1" name="password1" required>

              </div>
              <div class="grupo">
                <label for="password2" class="label">Repetir contraseña:</label>

                  <input class="cajas" type="password" placeholder="Confrom Password" id="password2" name="password2" required>
      

              </div>
            </div>
            <div class="cajitas">
              <div class="marcar">
                <input type="checkbox" id="agreement" name="agreement" />
                <label for="agreement"
                  >Estoy de acuerdo con los terminos y condiciones</label
                >
              </div>

              <div class="marcar">
                <input
                  type="checkbox"
                  id="notifications"
                  name="notifications"
                />
                <label for="notifications"
                  >Deseo recibir notificaciones a mi correo</label
                >
              </div>
            </div>
            <button type="submit"  class="register-button">Signup</button>            
          </div>
           

          <div class="create-account">
            <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia Sesión</a></p>
          </div>
        </form>




          <div class="footer">
            <p class="derechos">Derechos reservados</p>
            <p class="politica">Política de privacidad</p>
          </div>
        </div>




   <!-- - IMAGEN-->       
        <div class="image1">
          <img src="{% static 'images/fondo.jpg' %}"/>
        </div>
      </div>
    </div>
  </body>
</html>
